<h1><b>Books</b></h1>
<body>
<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>
  <td>リーダブルコード</td>
  <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
  <td>show</td>
  <td>edit</td>
  <td>destroy</td>
</table>
</body>

<h2><b>New book</b></h2>

<div class="field">
<label for="book_title">Title</label>
</div>

<div class="field">
<label for="book_body">Body</label>
</div>

<div class="actions">
<label>Create Book</label>
</div>