<h1 class="top-header">ようこそ　Bookersへ！</h1>

<body class="top-body">
<p class="top"><b>Bookers</b>では、さまざまな書籍に関するあなたの意見や</p>
<p class="top">印象を共有し交換することができます</P>
<p class="top"><%= link_to "start",books_path %></p>
</body>